<table width="100%" id="table" class="display " cellspacing="0">
    <thead>
        <tr>
            <th>Seq_Id</th>
            <th>Product_Category_Code</th>
            <th>Category_Name</th>
            <th>Category_Description</th>
            <th>Create_Date</th>
            <th>Last Update_Date</th>

            <th></th>
        </tr>
    </thead>
</table>